@import url('./flex.css');

:root {
    --headline: 700 1.125rem/normal  Kumbh Sans;
    --headline2: 400 1.125rem/normal  Kumbh Sans;
    --dark-cyan: hsl(185, 75%, 39%);
    --very-dark-desaturated-blue: hsl(229, 23%, 23%);
    --dark-grayish-blue: hsl(227, 10%, 46%);
    --dark-gray: hsl(0, 0%, 59%);
}

html {
    box-sizing: border-box;
    font-size: 1rem;
  }
  *, *:before, *:after {
    box-sizing: inherit;
  }


body {
    font-family: 'Kumbh Sans', sans-serif;
    background-color: var(--dark-cyan);
}

